<!DOCTYPE html>
<html th:fragment="html-tag" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="reminder-header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Reminder</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" href="css/style.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
	<div th:fragment="navigation-bar">
		<div class="sidenavbar">
			<a href="#home" class="active">Logo</a>
			<div id="myLinks">
				<a href="#news">News</a> <a href="#contact">Contact</a> <a
					href="#about">About</a>
			</div>
		</div>
	</div>

	<div th:fragment="error-message" th:if="${errorMessage != null}">
		<p class="text-danger" th:text="${errorMessage}"></p>
	</div>
</body>
</html>
