<!DOCTYPE html>
<html th:fragment="html-tag">
<head th:replace="layouts/fragments :: reminder-header" />
<body>
	<div class="container-fluid text-center my-3">
		<div class="p-3 " style="max-width: 350px; margin: 0 auto;">
			<form th:action="@{/login}" method="post">
				<div th:replace="layouts/fragments :: error-message" />
				<p>
					<input type="text" class="form-control" id="userName"
						name="username" placeholder="Username" autofocus="autofocus" />
				</p>
				<p>
					<input type="password" class="form-control" id="password"
						placeholder="Password" name="password" autofocus="autofocus" />
				</p>
				<input type="submit" value="Login"
					class="btn btn-primary form-control button" />
			</form>
			<div>
				<p class="p-3" style="color: white;">------------------------ Or
					------------------------</p>
				<a style="max-width: 350px;" href="/signup"
					class=" form-control btn btn-primary button">Signup</a>
			</div>
		</div>
	</div>
</body>
</html>
