<!DOCTYPE html>
<html th:fragment="html-tag">
<head th:replace="layouts/fragments :: reminder-header" />
<body>
	<nav th:replace="layouts/fragments :: navigation-bar" />
	<div sec:authorize="isAuthenticated()">
		<div class="container-fluid text-center"
			sec:authorize="hasAuthority('ADMIN')">
			<h1>Update User</h1>
			<form th:action="@{/main/edit-user}" th:object="${user}" method="post"
				style="max-width: 350px; margin: 0 auto;">
				<div class="border border-secondary p-3 rounded">
					<div th:replace="layouts/fragments :: error-message" />
					<p>
						<select class="form-control" name="role">
							<option class="form-control" th:field="*{role}"
								th:each="role: ${T(com.reminder.app.model.type.RoleType).values()}" th:value="${role}"
								th:text="${role.name}"></option>
						</select>
					</p>
					<p>
						<input class="form-control" type="text" th:field="*{firstName}"
							id="firstName" placeholder="First Name" autofocus="autofocus"
							th:required="required">
					</p>
					<p>
						<input class="form-control" type="text" th:field="*{lastName}"
							id="lastName" placeholder="Last Name" autofocus="autofocus"
							th:required="required">
					</p>
					<p>
						<input class="form-control" type="text" th:field="*{email}"
							id="email" placeholder="Email" autofocus="autofocus"
							th:required="required">
					</p>
					<p>
						<input class="form-control" type="text" th:field="*{username}"
							id="username" placeholder="Username" autofocus="autofocus"
							th:required="required">
					</p>
					<p>
						<input class="form-control" type="password" th:field="*{password}"
							id="password" placeholder="Password" autofocus="autofocus"
							th:required="required">
					</p>
					<input class="form-control btn btn-primary button" type="submit"
						value="Update">
				</div>
			</form>
		</div>
	</div>
</body>
</html>
