<!DOCTYPE html>
<html th:fragment="html-tag">
<head th:replace="layouts/fragments :: reminder-header" />
<body>
	<nav th:replace="layouts/fragments :: navigation-bar" />
	<div class="container" sec:authorize="isAuthenticated()">
		<form th:action="@{/search-users}" method="get">
			<div class=" my-3" style="max-width: 350px;">
				<p>Filter:</p>
				<input type="text" id="searchText" placeholder="search"
					name="searchText" autofocus="autofocus" /> <input type="submit"
					value="Search" class="btn btn-primary" />
			</div>
		</form>
		<div sec:authorize="hasAuthority('ADMIN')">
			<div th:each="user: ${users}">
				<div class="row">
					<div class="col-md-4 table-row d-flex" th:each="field: ${user}">
						<p class="justify-content-center align-self-center mx-auto mb-0"
							th:text="${user.firstName + ' ' + user.lastName}"></p>
					</div>
					<div class="col-md-4 table-row text-center d-flex"
						th:each="field: ${user}">
						<p class="justify-content-center align-self-center mx-auto mb-0"
							th:text="${user.email}"></p>
					</div>
					<div class="col-md-4 table-row button-group"
						th:each="field: ${user}">
						<a class="btn btn-primary">View</a> <a class="btn btn-primary">Edit</a>
						<a class="btn btn-primary danger">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>