body {
	font-family: Arial, Helvetica, sans-serif;
	color: #AD8174;
	 background-image: url(../image/background.jpg);
}

.table-row {
	border: 1px solid grey;
}

.danger {
	background-color: #A33327
}

.button-group {
	padding: 20px;
	text-align: center;
	color: white;
}

.button {
	background-color: #689775;
}