body {
	font-family: Arial, Helvetica, sans-serif;
	color: #AD8174;
	background-color: black;
}

.table-row {
	border: 1px solid #686b70;
	text-align: center;
}

.danger {
	background-color: #A33327
}

.button-group {
	padding: 20px;
	text-align: center;
	color: white;
}

.button {
	background-color: #689775;
}

.th-row {
	background-color: #343a40;
	color: white;
}

div {
	margin-bottom: 20px;
}
